@import "utils/utils";

body {
  background-color: yellow;
  display: flex;
  height: 300px;
  
  @include breakpoint(300px) {
    background-color: grey;
  }
}

button {
  width: 400px;

  @include breakpoint(300px) {
    width: 100px;
  }
}

